body {
    font-family: Arial, sans-serif;
    background-image: url(/1690179957_kaun-banega-crorepati-ab-1.jpeg);
    background-size: cover; 
    background-position: center; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff; 
}

#quiz-container {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

button {
    background-color: #4CAF50; 
    color: white; /* White text */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}

h2 {
    margin-top: 20px;
}
